.app {
  width: 1000px;
  margin: 0 auto;
  font-family: fantasy;
  text-align: center;
}

.title {
  font-size: 5em;
  margin: 0;
}

.synth {
  margin: 0 auto;
}

/* Notes */
.note-key-list {
  display: flex;
  list-style: none;
  margin: 0 auto;
}

.note-key {
  box-sizing: border-box;
  font-weight: bold;
  display: block;
  height: 250px;
  width: 100px;
  border: 3px solid black;
  margin-right: -1px;
  padding-top: 5px;
  font-size: 50px;
  box-shadow: 0px 10px 5px #888888;
  border-radius: 10px;
}

.pressed {
  background: #707172;
  box-shadow: none;
  transform-origin: top;
  transform: rotateX(8deg)
}

/* Recorder */
.recorder-title {
  margin: 20px 0 0 0;
  font-size: 2.5em;
}

.button {
  height: 40px;
  width: 100px;
  font-size: 20px;
  border-radius: 8px;
}

.button:hover {
  box-shadow: 0px 3px 3px #707172;
}

.button:disabled {
  background: white;
  color: #7a7a7a;
}

.start-button {
  background: green;
  color: white;
  margin-right: 20px;
}

.stop-button {
  background: red;
  color: white;
}

/* Jukebox */
.jukebox-title {
  margin: 20px 0 0 0;
  font-size: 2.5em;
}

.track {
  display: flex;
  font-size: 1.5em;
  height: 40px;
  justify-content: center;
}

.track-name {
  display: block;
  width: 100px;
}

.play-button {
  display: block;
  background-color: #87f2b4;
  height: 25px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 3px;
}

.play-button:hover {
  box-shadow: 0px 2px 2px #707172;
}
